.services
	padding: 52px 0 130px
	&-row
		& + &
			margin-top: 50px
	&-column
		overflow: hidden
		&-image
			max-width: 120px
			height: auto
			float: left
		&-content
			margin-left: 120 + ($base-padding * 2)
			padding-top: 38px
		&-header
			@extend .text-gradient
			line-height: 1.2
			margin-bottom: 44px
		&-list
			font-size: $fs-xm
			color: $grey-600
			line-height: $lh-sm
			&-item
				padding: 8px 0 15px
				border-top: 1px solid $white-200
