.header
	position: absolute
	z-index: 100
	left: 0
	right: 0
	top: 60px
	transform: translateY(-60px)
	transition: transform .3s ease-in-out
	.select_city
		margin-top: 12px
	&.is-scroll
		top: 0
		position: fixed
		background-color: $blue-700
		.select_city
			margin: 5px 0
	&.is-fixed
		transform: translateY(0)
	.container
		+clr
	&_logo
		padding: 21px 15px 19px
		display: inline-block
		background-image: linear-gradient(to left, $green-400, $blue-400)
		text-align: center
		color: $white
		float: left
		margin-right: 35px
		text-align: center
		text-decoration: none
		.is-scroll &
			padding: 15px 15px 17px
		&-img
			font-size: 28px
			display: block
			margin: 0 auto 2px
		&-text
			font-size: $fs-xxxs
			font-weight: 500
			line-height: 14px
			text-transform: uppercase
			letter-spacing: 0.9px
		.is-scroll &
			&-text
				display: none
			&-img
				margin-bottom: 0


	&_menu
		&-list
			padding-top: 25px
			.is-scroll &
				padding-top: 20px
		&-item
			display: inline-block
			font-weight: 700
			font-size: $fs-xs
			line-height: $lh-ss
			letter-spacing: 1.2px
			color: $blue-700
			.is_main_page &,
			.is-scroll &
				opacity: .7
				color: $white
			&.active,
			&:hover
				@extend .text-gradient
				.is_main_page &,
				.is-scroll &
					opacity: 1
					background: none
					-webkit-background-clip: none
					background-clip: none

		&-item + &-item
			margin-left: 30px
		&-link
			text-decoration: none
			text-transform: uppercase
			color: inherit
