.header
	position: absolute
	z-index: 100
	left: 0
	right: 0
	top: 60px
	transform: translateY(-60px)
	transition: transform .3s ease-in-out
	&-right
		text-align: right
		font-size: 0
	.select_city
		display: none
		+min-screen(520)
			display: inline-block
		margin-top: 12px
	&.is-scroll
		top: 0
		position: fixed
		background-color: $blue-700
		.select_city
			margin: 5px 0
	&.is-fixed
		transform: translateY(0)
	.container
		+clr
	&_logo
		padding: 21px 13px 19px
		display: inline-block
		background-image: linear-gradient(to left, $green-400, $blue-400)
		text-align: center
		color: $white
		float: left
		margin-right: 35px
		text-align: center
		text-decoration: none
		.is-scroll &
			padding: 15px 15px 17px
		&-img
			font-size: 28px
			display: block
			margin: 0 auto 2px
		&-text
			font-size: $fs-xxxs
			font-weight: 500
			line-height: 14px
			text-transform: uppercase
			letter-spacing: 0.9px
		.is-scroll &
			&-text
				display: none
			&-img
				margin-bottom: 0


	&_menu
		overflow: hidden
		position: fixed
		height: 0
		left: 0
		top: 0
		width: 100%
		z-index: 150
		display: flex
		align-items: center
		justify-content: center
		background-color: rgba($white, .8)
		transition: height $t-n $tf-def
		.is-menu-show &
			transition: height $t-n $tf-def $t-n
			height: 100vh
		+min-screen($desctop)
			position: static
			width: auto
			height: auto
			overflow: auto
			display: block
			background-color: transparent
			.is-menu-show &
				height: auto
		&-list
			display: inline-block
			overflow: hidden
			+min-screen($desctop)
				padding-top: 25px
				display: block
			.is-scroll &
				padding-top: 20px
		&-item
			text-align: center
			display: block
			+min-screen($desctop)
				display: inline-block
		+min-screen($desctop)
			&-item + &-item
				margin-left: 30px

		&-link
			@extend %text-gradient
			display: inline-block
			color: $blue-700
			text-decoration: none
			text-transform: uppercase
			font-weight: 700
			font-size: $fs-s
			line-height: 36px
			letter-spacing: 1.4px
			text-align: center
			transition: color $t-n $tf-def
			&.active
				color: transparent
			+min-screen($desctop)
				font-size: $fs-xs
				line-height: $lh-ss
				letter-spacing: 1.2px
				&:hover
					color: transparent
				.is-scroll &,
				.is_main_page &
					color: rgba($white, .7)
					background: none
					&.active,
					&:hover
						color: $white
