{% set 
	citys = [
		{
			name: 'киев',
			phone: '067 513 55 33'
		},
		{
			name: 'луцк',
			phone: '067 513 55 33'
		},
		{
			name: 'черновцы',
			phone: '067 513 55 33'
		},
		{
			name: 'суммы',
			phone: '067 513 55 33'
		}
	]
%}
{% set menu = [
		{
			name: 'клининг',
			link: '#'
		},
		{
			name: 'аудит',
			link: '#'
		},
		{
			name: 'обучение',
			link: '#'
		},
		{
			name: 'хендлинг',
			link: '#'
		},
		{
			name: 'контактная информация',
			link: '#'
		}
	]
%}
<header id="header" class="header">
	<div class="container">
			<div class="row">
				<div class="header-left col-xs-2 col-md-6">
					<a class="header_logo" href="/">
						{{mixins.icon('logo', 'header_logo-img')}}
						<span class="header_logo-text">arozone</span>
					</a>
					<nav class="header_menu">
						<ul class="header_menu-list">
							{% for item in menu %}
								{% if loop.index == active_menu_link %}
									<li class="header_menu-item"><a class="header_menu-link active" href="{{item.link}}">{{item.name}}</a></li>
								{% else %}
									<li class="header_menu-item"><a class="header_menu-link" href="{{item.link}}">{{item.name}}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</nav>
				</div>
				<div class="header-right col-xs-6 col-md-2">
					<select class="select-custom select_city">
						{% for city in citys %}
							<option value="{{ city.name }}" data-display="<span class='select_city-name'>{{ city.name }}</span> <span class='select_city-phone'>+380 <b>{{ city.phone }}</b></span>">
								{{ city.name }} +380 {{ city.phone }}
							</option>
						{% endfor %}
					</select>
					<button class="toggle-menu-button"></button>
				</div>
			</div>
	</div>
</header>