ul.stepper
	overflow: visible
	.step
		&:before
			width: 36px
			height: 36px
			line-height: 36px
			font-size: 16px
			text-align: center
			background-color: $grey-400
			color: $grey-600
		&:not(:last-of-type)
			margin-bottom: 17px
			&.active
				margin-bottom: 37px
			&:after
				background-color: $grey-400
				width: 2px
				top: 47px
				left: 17px
				height: calc(100% - 18px)
		&-content
			// display: block !important
			> .row
					margin-left: -11px
			> .calc_stepper-input_images_row
					margin-left: 0
					+min-screen($desctop)
						margin-left: -14px
		// 	display: block !important
		&.active
			&:before
				background-image: $to-bot-grad
				color: $white
			&:not(:last-child):after
				height: calc(100% - 6px)
			&:after
				background-color: $green-400
		&.done
			&:before
				content: ''
				background-color: $blue-700
				border: solid 2px rgba($black, 0.15)
				color: $white
				background-image: url(create-svg($check-icon, $white, 24))
				background-repeat: no-repeat
				background-position: 50% 50%
				background-size: 20px 16px
			&:after
				background-color: $blue-800
		&.wrong
			&:before
				content: ''
				background-color: $red-600
				background-image: url(create-svg($attention-icon, $white, 24))
				background-repeat: no-repeat
				background-position: 50% 50%
				background-size: 24px 24px
				color: $white
			&:after
				background-color: $red-600
		.step-title
			font-size: $fs-xxm
			line-height: $lh-sm
			padding: 15px 44px 15px 82px
			color: $grey-500
			font-weight: 200
			&:hover
				background-color: transparent
		&.done .step-title
			color: $grey-600
		&.active .step-title
			color: $black-300
			font-weight: 200
		&-content
			margin-left: 61px
			margin-right: 0
			padding-top: 15px
		&-actions
			padding-top: 24px

.calc_stepper
	padding-bottom: 80px
	+min-screen($desctop)
		&-form_row + &-form_row
			margin-top: 36px
		&-col-third
			max-width: 228px
	.input_custom
		margin-top: 36px
		+min-screen($desctop)
			margin-top: 0
		& + .input_box
			margin-top: 36px
	&-package-default
		+min-screen($desctop)
			display: none
	&-col-md,
	&-col-sm,
	&-col-lg
		padding: 0 18px
		width: 100%
		margin-bottom: 16px
		+min-screen($tablet)
			margin-bottom: 0
	&-col-md
		width: 80%
		input[type="text"]
			width: 100%
		+min-screen($tablet)
			width: 276px + 36
			input[type="text"]
				width: 100%
		+min-screen($desctop)
			max-width: 29%
	&-col-sm
		width: 80%
		input[type="text"]
			width: 100%
		+min-screen($tablet)
			max-width: 156px
		+min-screen($desctop)
			max-width: 17.5%
	&-col-lg
		width: 80%
		input[type="text"]
			width: 100%
		+min-screen($tablet)
			width: 276px + 36
			input[type="text"]
				width: 100%
		+min-screen($desctop)
			max-width: 33.5%

	.step.calc_stepper-step-3
		.calc_stepper-form_row + .calc_stepper-form_row
			margin-top: 16px

	// .step.calc_stepper-step-6
	// 	.col-sm-6
	// 		width: 30%

	.step.calc_stepper-step-8
		.input_box
			margin-top: 36px
			+min-screen($tablet)
				margin-top: 20px

	.first-field-wrap
		padding: 0 18px
		display: block
		width: 80%
		margin-bottom: 16px
		.input_box
			width: 100%
		+min-screen($tablet)
			.input_box
				max-width: 276px
		+min-screen($desctop)
			margin-bottom: 0
			display: inline-block
			max-width: 29%


	div.wrap-count + div.wrap-count
		margin-top: 24px
	.input_box.wrap-count
		max-width: 163px

	+min-screen($tablet)
		div.wrap-count + div.wrap-count
			margin-top: 0
		div.wrap-count
			max-width: 131px + 34
		.input_box.wrap-count
			max-width: 131px


	+min-screen($desctop)
		div.wrap-count
			max-width: 156px + 34
		.input_box.wrap-count
			max-width: 156px

	&-header
		color: $grey-300
		margin-bottom: 44px
		margin-left: -5px
		text-transform: uppercase
	&-sum_block
		// opacity: 0
		// visibility: hidden
		display: none
		will-change: transform
		transform: translateY(0)
		transition: transform 1s $tf-prt
		float: right
		border-left: 2px solid $green-400
		padding: 19px 9px 23px 36px
		&-row
			margin-bottom: 36px
			+min-screen($desctop)
				display: none
		&-wrap
			padding-top: 20px
			display: none
			+min-screen($desctop)
				display: block
		&-title
			font-size: $fs-m
			line-height: $lh-sm
		&-header
			font-family: 'roboto', Arial, sans-serif
			margin: 6px 0 15px
			font-size: 40px
			line-height: 1
			position: relative
			padding-right: 26px
			display: inline-block
			&-handreds,
			&-curency
				position: absolute
				text-align: right
				right: 0
				z-index: 3
				color: $green-400
			&-handreds
				top: 3px
				font-size: $fs-xm
				font-weight: 700
			&-curency
				bottom: 3px
				font-size: $fs-xs
				font-weight: 500
		&-bot
			font-size: $fs-xs
			line-height: 1.5
			color: $grey-500
	&-input_images_row
		margin-left: 0
		+min-screen($tablet)
			margin-left: 0
		+min-screen($desctop)
			margin-left: -42px
