ul.stepper
	overflow: visible
	.step
		&:before
			width: 36px
			height: 36px
			line-height: 36px
			font-size: 16px
			text-align: center
			background-color: $grey-400
			color: $grey-600
		&:not(:last-of-type)
			margin-bottom: 17px
			&.active
				margin-bottom: 37px
			&:after
				background-color: $grey-400
				width: 2px
				top: 47px
				left: 17px
				height: calc(100% - 18px)
		&.active
			&:before
				background-image: $to-bot-grad
				color: $white
			&:not(:last-child):after
				height: calc(100% - 6px)
			&:after
				background-color: $green-400
		&.done
			&:before
				content: ''
				background-color: $blue-700
				border: solid 2px rgba($black, 0.15)
				color: $white
				background-image: url(create-svg($check-icon, $white, 24))
				background-repeat: no-repeat
				background-position: 50% 50%
				background-size: 20px 16px
			&:after
				background-color: $blue-800
		&.wrong
			&:before
				content: ''
				background-color: $red-600
				background-image: url(create-svg($attention-icon, $white, 24))
				background-repeat: no-repeat
				background-position: 50% 50%
				background-size: 24px 24px
				color: $white
			&:after
				background-color: $red-600
		.step-title
			font-size: $fs-xxm
			line-height: $lh-sm
			padding: 15px 44px 15px 82px
			color: $grey-500
		&.done .step-title
			color: $grey-600
		&.active .step-title
			color: $black-300
		&-content
			margin-left: 61px
			margin-right: 0
			padding-top: 15px
			// display: block
			// width: 97%
		&-actions
			padding-top: 24px


.calc_stepper
	padding-bottom: 80px
	// &-wrap
	// 	max-width: 76%
	// 	flex-basis: 0;
	&-form_row + &-form_row
		margin-top: 44px
		.input_box
			margin-top: 0
	&-col-third
		max-width: 228px
	&-col-md
		max-width: 29%
	&-col-sm
		max-width: 17.5%
	&-col-lg
		max-width: 33.5%
	div.wrap-count
		max-width: 156px + 34
	.input_box.wrap-count
		max-width: 156px
	&-header
		color: $grey-300
		margin-bottom: 44px
		margin-left: -5px
		text-transform: uppercase
	&-sum_block
		margin-top: 118px
		float: right
		border-left: 2px solid $green-400
		padding: 19px 9px 23px 36px
		&-title
			font-size: $fs-m
			line-height: $lh-sm
		&-header
			font-family: 'roboto', Arial, sans-serif
			margin: 6px 0 15px
			font-size: 40px
			line-height: 1
			position: relative
			padding-right: 26px
			display: inline-block
			&-handreds,
			&-curency
				position: absolute
				text-align: right
				right: 0
				z-index: 3
				color: $green-400
			&-handreds
				top: 3px
				font-size: $fs-xm
				font-weight: 700
			&-curency
				bottom: 3px
				font-size: $fs-xs
				font-weight: 500
		&-bot
			font-size: $fs-xs
			line-height: 1.5
			color: $grey-500
	&-input_images_row
		margin-left: -42px
