<section class="container calc_stepper">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="calc_stepper-header">Калькулятор стоимости</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<ul id="calc_stepper" data-method="GET" class="stepper linear">
				<li class="step active">
						{% include "elements/calc_stepper/step1.html" %}
				</li>
				<li class="step">
						{% include "elements/calc_stepper/step2.html" %}
				</li>
				<li class="step">
						{% include "elements/calc_stepper/step3.html" %}
				</li>
				<li class="step">
						{% include "elements/calc_stepper/step4.html" %}
				</li>
				<li class="step">
						{% include "elements/calc_stepper/step5.html" %}
				</li>
				<li class="step">
						{% include "elements/calc_stepper/step6.html" %}
				</li>
				<li class="step">
						{% include "elements/calc_stepper/step7.html" %}
				</li>
				<li class="step">
						{% include "elements/calc_stepper/step8.html" %}
				</li>
			</ul>
		</div>
		<div class="col-xs-2">
			
		</div>
	</div>
</section>

<!--   <li class="step active">
		<div class="step-title waves-effect waves-dark">E-mail</div>
		<div class="step-content">
			 <div class="row">
					<div class="input-field col s6">
						 <input id="email" name="email" type="email" class="validate" required>
						 <label for="first_name">Your e-mail</label>
					</div>
			 </div>
			 <div class="step-actions">
					<button class="waves-effect waves-dark btn next-step" >Continue</button>
			 </div>
		</div>
 </li>
<li class="step">
		<div class="step-title waves-effect waves-dark">Step 2</div>
		<div class="step-content">
			 <div class="row">
					<div class="input-field col s6">
						 <input id="password" name="password" type="password" class="validate" required>
						 <label for="password">Your password</label>
					</div>
			 </div>
			 <div class="step-actions">
					<button class="waves-effect waves-dark btn next-step">CONTINUE</button>
					<button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
			 </div>
		</div>
 </li>
 <li class="step">
		<div class="step-title waves-effect waves-dark">Callback</div>
		<div class="step-content">
			Unfortunately callback loading screen is not working in here =( I'll make a github page soon!
			 <div class="step-actions">
					<button class="waves-effect waves-dark btn next-step" >ENDLESS CALLBACK!</button>
			 </div>
		</div>
 </li> -->