<section class="container calc_stepper">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="calc_stepper-header">Калькулятор стоимости</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<ul id="calc_stepper" data-method="GET" class="stepper linear">
				<li class="step active">
						{% include "elements/calc_stepper/step1.html" %}
				</li>
				<li class="step">
						{% include "elements/calc_stepper/step2.html" %}
				</li>
				<li class="step">
						{% include "elements/calc_stepper/step3.html" %}
				</li>
				<li class="step">
						{% include "elements/calc_stepper/step4.html" %}
				</li>
				<li class="step">
						{% include "elements/calc_stepper/step5.html" %}
				</li>
				<li class="step">
						{% include "elements/calc_stepper/step6.html" %}
				</li>
				<li class="step">
						{% include "elements/calc_stepper/step7.html" %}
				</li>
				<li class="step">
						{% include "elements/calc_stepper/step8.html" %}
				</li>
			</ul>
		</div>
		<div class="col-xs-2">
			<div class="calc_stepper-sum_block">
				<p class="calc_stepper-sum_block-title">
					Приблизительная <br>
					стоимость уборки <br>
					Вашего объекта
				</p>
				<h2 class="text-gradient calc_stepper-sum_block-header">
					32334
					<sup class="calc_stepper-sum_block-header-handreds">.00</sup>
					<sub class="calc_stepper-sum_block-header-curency">грн.</sub>
				</h2>
				<p class="calc_stepper-sum_block-bot">
					Точную оценку может дать<br>
					только наш специалист<br>
					находясь на Вашем объекте
				</p>
			</div>
		</div>
	</div>
</section>
