.packages
	margin-bottom: 34px
	margin-top: -282px
	&-wrap
		border-radius: 10px
		position: relative
		margin-bottom: 28px
		&:before
			content: ''
			z-index: 0
			position: absolute
			left: 20px
			right: 20px
			bottom: 20px
			top: 20px
			box-shadow: 0 0 50px 26px rgba($black, .08)
		& > div:last-child
			border-right-width: 1px
	&-column
		border-radius: 10px
		background-color: $white
		border: solid 1px $white-200
		border-right-width: none
		position: relative
		z-index: 1
		padding-top: 42px
		text-align: center
		padding-bottom: 47px
		transition: transform .2s linear
		&:hover
			// transform: scale(1.1)
			transform: translateY(-2%)
			z-index: 10
		& + &
			border-left-style: dashed
	&-img
		display: block
		margin: 0 auto 32px
	&-header
		text-transform: uppercase
		margin-bottom: 41px
	&-list
		font-size: $fs-s
		color: $black-300
		line-height: $lh-sm
		margin-bottom: 37px
		&-item
			padding: 8px 0 15px
			border-top: 1px solid $white-200
	&-explanation
		font-size: $fs-xs
		line-height: $lh-sm