.hero
	overflow: hidden
	max-height: 850px
	background-size: cover
	background-repeat: no-repeat
	background-color: $blue-600
	background-position: 50% 50%
	color: $white
	+min-screen($desctop)
		height: 100vh
		min-height: 600px
	&.is-main-top
		padding: 120px 0 37px
		+min-screen($tablet)
			padding: 140px 0 96px
		+min-screen($desctop)
			padding: 90px 0 180px
	&.is-main-midle
		padding: 60px 0 330px
		+min-screen($tablet)
			padding: 60px 0 330px
		+min-screen($desctop)
			padding: 94px 0 330px
	.container,
	&-content
		height: 100%
		vertical-align: middle
	&-header
		text-transform: uppercase
		line-height: 38px
		margin-bottom: 20px
	&-title
		opacity: .8
		font-size: $fs-xm
		line-height: 30px
		font-weight: 200
		margin-bottom: 30px
		+min-screen($desctop)
			font-size: $fs-xxxm
			line-height: 1.6
	&-text-wrap
		+min-screen($desctop)
			@extend %extreme-left-col
			padding-left: ($base-padding * 2) - 3
			border-left: 2px solid $green-300
	.button
		width: 100%
		+min-screen($mobile-md)
			width: auto