<section class="main_calc show-on-desctop">
	<div class="container">
		<div id="calc-forms">
			<div class="main_calc-tabs_row">
				<ul class="row main_calc-tabs col-xs-2">
					<li class="col-xs main_calc-tab">
						<a class="main_calc-tab-link" href="#calc-form-tab-1" title="дом">
							дом
						</a>
					</li>
					<li class="col-xs main_calc-tab">
						<a class="main_calc-tab-link" href="#calc-form-tab-2" title="квартира">
							квартира
						</a>
					</li>
				</ul>
			</div>
			<div id="calc-form-tab-1">
				<form action="#">{% include "elements/main_calc/home-form.html" %}</form>
			</div>
			<div id="calc-form-tab-2">
				<form action="#">{% include "elements/main_calc/flat-form.html" %}</form>
			</div>
		</div>
	</div>

	{% include "elements/cost-popup/index.html" %}

</section>