body
	font-family: 'roboto', Arial, sans-serif
	font-size: 14px
	line-height: 1.4
	min-width: 360px
	min-height: 360px
	color: $grey-600
	background-color: $white
	display: flex
	flex-direction: column
	padding-top: 157px
	&.is_main_page
		padding-top: 0
body,
html
	height: 100vh
	min-height: 100vh


main.content
	flex: 1
// common blocks