h1
	font-size: $fs-xxxl
	font-family: 'plumb'
	font-weight: 400
h2
	font-size: $fs-l
	font-family: 'plumb'
	font-weight: 400
h3
	font-size: $fs-xm
	font-family: 'plumb'
	font-weight: 400
h4
	font-size: $fs-m
	font-family: 'plumb'
	font-weight: 400
h5
	// font-size: $fs-xxxl
	font-family: 'plumb'
	font-weight: 400
h6
	// font-size: $fs-xxxl
	font-family: 'plumb'
	font-weight: 400

p
	font-size: $fs-m

.text-blue
	color: $blue-500
.clipboard_copy
	cursor: pointer
	display: inline-block

.text-gradient
	display: inline-block
	color: transparent
	background: linear-gradient(to left, $green-400, $blue-400)
	-webkit-background-clip: text
	background-clip: text
	+ie-screen
		color: $blue-400
		background: none

@keyframes pulse
	0%
		-webkit-transform: scale(0)
		transform: scale(0)
		opacity: 0

	50%
		-webkit-transform: scale(0.99)
		transform: scale(0.99)

	100%
		-webkit-transform: scale(1)
		transform: scale(1)
		opacity: 1
		visibility: visible

.ui-tooltip
	color: white
	position: absolute
	z-index: 9990
	padding: 5px 5px
	font-size: 11px
	line-height: 16px
	text-align: center
	border-radius: 3px
	letter-spacing: 0.025em
	// visibility: hidden
	max-width: calc((1680px - 10vw) / 3 - 32px + 96px)
	background-color: $black
	@media (max-width: 1680px)
		max-width: calc((100% - 10vw) / 3 - 32px + 96px)
	&.before
		transform: scale(0)
		transform-origin: center
		visibility: visible
	&.show
		animation: pulse 200ms cubic-bezier(0, 0, 0.2, 1) forwards

.ui-helper-hidden-accessible
	display: none