.footer
	// height: 200px
	margin-top: 20px
	padding-top: 45px
	padding-bottom: 45px
	border-width: 2px 0 0 0
	border-style: solid
	border-image: linear-gradient(to right, $blue-400, $green-400)
	// background-color: $black