//	 <button class="button is-see-trough"><span>Заказать уборку<span></button>
//	 <button class="button is-see-trough is-wide-button"><span>Заказать уборку<span></button>
//
//	 <button class="button is-blue">Узнать стоимость</button>
//	 <button class="button is-blue is-wide-button">Узнать стоимость</button>
//
//	 <button class="button is-blue is-not-round">Узнать стоимость</button>
//	 <button class="button is-blue is-not-round is-wide-button">Узнать стоимость</button>
//
//	 <button class="button is-bg-move"><span>Узнать стоимость</span></button>
//	 <button class="button is-bg-move is-wide-button"><span>Узнать стоимость</span></button>


%button
	font-size: $fs-ss
	display: inline-block
	line-height: $lh-sm
	overflow: hidden
	position: relative
	text-transform: uppercase
	border-radius: 24px
	padding: 10px 20px
	border: 2px solid $black
	text-align: center
	font-weight: 400
	letter-spacing: .16em
	cursor: pointer
	transition: all $t-n $tf-def
	text-decoration: none


%is-see-trough
	padding: 10px 51px
	background-color: transparent
	border-color: $white
	color: $white
	font-weight: 700
	min-width: 270px
	span
		transition: all $t-n $tf-def
	&:hover,
	&:active
		background-color: $white
		span
			@extend .text-gradient

%is-bg-move
	color: $white
	font-weight: 700
	position: relative
	appearance: none
	background: $blue-700
	outline: none
	border-radius: 24px
	border: solid 2px rgba($black, 0.15)
	span
		position: relative
		pointer-events: none
	&::before
		--size: 0
		content: ''
		position: absolute
		left: var(--x)
		top: var(--y)
		width: var(--size)
		height: var(--size)
		background: radial-gradient(circle closest-side, $green-400, transparent)
		transform: translate(-50%, -50%)
		transition: width .3s ease, height .3s ease
	&:hover::before
		--size: 200px

%is-blue
	color: $white
	font-weight: 700
	position: relative
	appearance: none
	background: $blue-700
	min-width: 154px
	padding: 10px 24px
	outline: none
	border-radius: 24px
	border: solid 2px rgba($black, 0.15)
	&:hover
		box-shadow: 0 0 30px 0 rgba($blue-700, .5)

%is-wide-button
	display: block
	width: 100%
	padding-left: 10px
	padding-right: 10px

%is-not-round
	border-radius: 3px
	min-width: auto

button,
.button
	@extend %button
	&.is-wide-button
		@extend %is-wide-button
	&.is-see-trough
		@extend %is-see-trough
	&.is-bg-move
		@extend %is-bg-move
	&.is-blue
		@extend %is-blue
	&.is-not-round
		@extend %is-not-round


.share-buttons
	.jssocials-shares
		.jssocials-share
			margin: 0 0 0 14px
			border: 2px solid rgba($black, 0.15)
			height: 48px
			border-radius: 24px
			min-width: 84px
			transition: all $t-n $tf-def
			&-link
				display: block
				padding: 10px 13px
				color: rgba($white, .5)
				text-align: center
				overflow: hidden
			&-count,
			&-logo
				line-height: $lh-sm
				display: inline-block
				width: 20px
			&-logo
				height: 20px
				float: left
				margin-top: 2px
			&-count
				float: right
				font-size: $fs-xs
				text-align: center
			&-facebook
				background-color: #3b5998
				&:hover
					box-shadow: 0 0 30px 0 rgba(#3b5998, .7)
			&-twitter
				background-color: #55acee
				&:hover
					box-shadow: 0 0 30px 0 rgba(#55acee, .7)
			&-telegram
				background-color: #2ca5e0
				&:hover
					box-shadow: 0 0 30px 0 rgba(#2ca5e0, .7)

