.input_box
	background-color: $grey-400
	border-radius: 4px
	line-height: 48px
	margin-top: 20px
	height: 48px
	border: none
	position: relative
	padding: 2px
	&:before
		transition: opacity $t-n $tf-def
		content: ''
		opacity: 0
		right: 0
		left: 0
		bottom: 0
		top: 0
		position: absolute
		z-index: 1
		background-image: $def-grad
		border-radius: 3px
		z-index: 1
	&.not-style
		background-color: transparent
		border-radius: 0
		padding: 0
		&:before
			display: none
	&-icon
		position: absolute
		top: 13px
		font-size: 22px
		z-index: 3
		color: $grey-500
		transition: color $t-n $tf-def
		&.is_right_icon
			right: 14px
		&.is_left_icon
			left: 14px
	&.focus-popup,
	&.focus-date,
	&.focus,
	&:hover,
	&:focus
		&:before
			opacity: 1
		.input_box-icon.is_right_icon
			color: $green-400
		.input_box-icon.is_left_icon
			color: $blue-400
	&-placeholder
		line-height: $lh-ss
		font-size: $fs-xxs
		color: $grey-500
		width: 0
		top: -20px
		overflow: hidden
		white-space: nowrap
		transition: width $t-n $tf-prt
		position: absolute
		left: 2px
		.focus-date &,
		.focus-popup &,
		.focus &,
		.enter &,
		.preselected &
			width: 100%
	input,
	select,
	textarea
		position: relative
		padding: 0 21px
		z-index: 3
		display: block
		width: 100%
		min-height: 44px
		line-height: 44px
		background-color: $grey-200
		color: $black-300
		font-size: $fs-m
		+placeholder
			color: $grey-500
		&.input-base:focus
			+placeholder
				color: $grey-200

	label.invalid
		font-size: $fs-xxs
		line-height: $lh-ss
		text-align: right
		position: absolute
		white-space: nowrap
		top: -20px !important
		right: 0
		color: $red-600

// .placeholder-box
// 	margin-bottom: 6px
// 	display: flex
// 	justify-content: space-between
// 	position: relative

// 	.empty-field,
// 		font-size: $fs-xxs
// 		line-height: $lh-ss
// 		text-align: right
// 		position: absolute
// 		visibility: hidden
// 		opacity: 0
// 		right: 0
// 		color: $red-600


.wrapp-count
	input
		text-align: center
	.count-down,
	.count-up
		cursor: pointer
		position: absolute
		top: 17px
		height: 14px
		width: 14px
		z-index: 4
		opacity: .5
		transition: opacity $t-n $tf-prt
		&:before,
		&:after
			background: $grey-500
			content: ' '
			position: absolute
			height: 14px
			width: 2px
			left: 6px
			transform: rotate(90deg)
		&.active
			opacity: 1
		.icon
			color: $grey-500
			font-size: $fs-xm
			vertical-align: top
			transition: color $t-n $tf-prt
	.count-down
		left: 15px
		&:after
			display: none
		&.active:hover:before
			background: $blue-400
	.count-up
		right: 15px
		&:after
			transform: rotate(0)
		&.active:hover
			&:before,
			&:after
					background: $green-400

.input_custom
	padding-left: 30px
	display: inline-block
	cursor: pointer
	position: relative
	line-height: $lh-sm
	&.is_custom_swich
		padding-left: 48px
	input
		position: absolute
		z-index: -1
		opacity: 0
	&-indicator
		position: absolute
		top: 0
		left: 0
		height: 24px
		width: 24px
		background-color: $white-300
		border: solid 2px $white-400
		border-radius: 5px
		.is_custom_radio &
			border-radius: 50%
		.is_custom_swich &
				width: 48px
				border-radius: 12px
		.input_custom:hover input ~ &,
		.input_custom input:focus ~ &
			background-color: $grey-400
		.input_custom input:checked ~ &
			&:before
				opacity: 1
		.input_custom input:disabled ~ &
			background-color: $white-300
			opacity: .7
			pointer-events: none
		&:before
			content: ''
			border-radius: inherit
			background-image: $def-grad
			position: absolute
			left: -2px
			top: -2px
			bottom: -2px
			right: -2px
			transition: opacity $t-n $tf-prt
			opacity: 0
		&:after
			content: ''
			position: absolute
			opacity: 0
			transform: scale(.5) rotate(45deg)
			transition: all $t-n $tf-prt
			.input_custom input:checked ~ &
				opacity: 1
				transform: scale(1) rotate(45deg)
			.is_custom_checkbox &
				top: 3px
				left: 8px
				width: 6px
				height: 11px
				border: solid $white
				border-width: 0 2px 2px 0
				transform: rotate(45deg)
				box-shadow: 2px 4px 3px 0 rgba($black, .2)
			.is_custom_radio &
				width: 12px
				height: 12px
				left: 4px
				top: 4px
				background-color: $white
				border-radius: 50%
				box-shadow: 0px 1px 3px 0 rgba($black, .2)
			.is_custom_swich &
				opacity: 1
				transform: scale(1)
				width: 12px
				height: 12px
				top: 4px
				left: 4px
				border-radius: 50%
				box-shadow: 0px 1px 3px 0 rgba($black, .2)
				background-color: $white
			.input_custom.is_custom_swich input:checked ~ &
				left: calc(100% - 16px)

.input_custom_image
	text-align: center
	vertical-align: top
	padding: 7px 15px
	margin: 2px 0 5px
	display: inline-block
	cursor: pointer
	position: relative
	& + &
		border-left: 1px solid $white-200
	input
		position: absolute
		z-index: -1
		opacity: 0
	&-illustration
		display: block
		margin: 0 auto 17px
		max-width: 120px
		max-height: 140px
	&-text
		position: relative
		line-height: $lh-sm
		font-size: $fs-m
		color: $grey-500
		margin: 0 30px
		transition: all $t-s $tf-prt
		letter-spacing: 0.02em
		&:before
			content: ''
			position: absolute
			right: -31px
			top: 4px
			transition: all $t-s $tf-prt
			transform: scale(.5)
			opacity: 0
			width: 22px
			height: 18px
			background-image: url(create-svg($check-icon, $green-400, 24))
			background-repeat: no-repeat
			background-position: 50% 50%
			background-size: 26px 22px
		input:checked ~ &
			@extend .text-gradient
			&:before
				opacity: 1
				transform: scale(1)

