input[type="number"],
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
	apperance: none
	-webkit-appearance: none
	margin: 0

.input_box
	background-color: $grey-400
	border-radius: 4px
	line-height: 48px
	margin-top: 20px
	height: 48px
	border: none
	position: relative
	padding: 2px
	transition: background-color $t-n $tf-def
	&:before
		transition: opacity $t-n $tf-def
		content: ''
		opacity: 0
		right: 0
		left: 0
		bottom: 0
		top: 0
		position: absolute
		z-index: 1
		background-image: $def-grad
		border-radius: 3px
		z-index: 1
	&.not-style
		background-color: transparent
		border-radius: 0
		padding: 0
		&:before
			display: none
	&-icon
		position: absolute
		top: 13px
		font-size: 24px
		z-index: 3
		color: $grey-500
		transition: color $t-n $tf-def
		touch-action: none
		pointer-events: none
		&.is_right_icon
			right: 13px
		&.is_left_icon
			left: 13px
	&.focus-popup,
	&.focus-date,
	&.focus,
	&:hover,
	&:focus
		&:before
			opacity: 1
		.input_box-icon.is_right_icon
			color: $green-400
		.input_box-icon.is_left_icon
			color: $blue-400
	&.focus-popup,
	&.focus-date,
	&.focus
		input,
		select,
		textarea
			+placeholder
				color: $grey-200
	&.invalid
		background-color: $red-600
		&:before
			opacity: 0
	&-placeholder
		line-height: $lh-ss
		font-size: $fs-xxs
		color: $grey-500
		width: 0
		top: -20px
		overflow: hidden
		white-space: nowrap
		transition: width $t-n $tf-prt
		position: absolute
		left: 2px
		.focus-date &,
		.focus-popup &,
		.focus &,
		.enter &,
		.preselected &
			width: 100%
	&.invalid &-placeholder
		display: none
	input,
	select,
	textarea
		position: relative
		padding: 0 21px
		z-index: 3
		display: block
		width: 100%
		min-height: 44px
		line-height: 44px
		background-color: $grey-200
		color: $black-300
		font-size: $fs-m
		&.time-input
			padding: 0 15px
		+placeholder
			color: $grey-500
		&.input-base:focus
			+placeholder
				color: $grey-200

	label.invalid
		font-size: $fs-xxs
		line-height: $lh-ss
		text-align: right
		position: absolute
		white-space: nowrap
		top: -20px !important
		right: 0
		color: $red-600

.wrap-count
	input
		text-align: center
		cursor: default
		user-select: none
	.count-down
		left: 18px
		&:after
			display: none
		&:hover:before
			background: $blue-400
	.count-up
		right: 18px
		&:after
			transform: rotate(90deg)
		&:hover
			&:before,
			&:after
				background: $green-400
	.count-down,
	.count-up
		cursor: pointer
		position: absolute
		top: 17px
		height: 14px
		width: 14px
		z-index: 4
		transition: opacity $t-n $tf-prt
		&:before,
		&:after
			background: $grey-500
			content: ' '
			position: absolute
			width: 14px
			height: 2px
			top: 6px
		&.disabled
			filter: grayscale(100%)
			cursor: default
			opacity: .5
			&:before,
			&:after
				background: $grey-500

.input_custom
	padding-left: 46px
	display: inline-block
	cursor: pointer
	position: relative
	line-height: $lh-sm
	&.is_custom_swich
		padding-left: 61px
	input
		position: absolute
		z-index: -1
		opacity: 0
	&-indicator
		position: absolute
		top: 0
		left: 0
		height: 24px
		width: 24px
		background-color: $white-300
		border: solid 2px $white-400
		border-radius: 5px
		.is_custom_radio &
			border-radius: 50%
		.is_custom_swich &
				width: 48px
				border-radius: 12px
		.input_custom:hover input ~ &,
		.input_custom input:focus ~ &
			background-color: $grey-400
		.input_custom input:checked ~ &
			&:before
				opacity: 1
		.input_custom input:disabled ~ &
			background-color: $white-300
			opacity: .7
			pointer-events: none
		&:before
			content: ''
			border-radius: inherit
			background-image: $def-grad
			position: absolute
			left: -2px
			top: -2px
			bottom: -2px
			right: -2px
			transition: opacity $t-n $tf-prt
			opacity: 0
		&:after
			content: ''
			position: absolute
			opacity: 0
			transform: scale(.5) rotate(45deg)
			transition: all $t-n $tf-prt
			.input_custom input:checked ~ &
				opacity: 1
				transform: scale(1) rotate(45deg)
			.is_custom_checkbox &
				top: 3px
				left: 8px
				width: 6px
				height: 11px
				border: solid $white
				border-width: 0 2px 2px 0
				transform: rotate(45deg)
				box-shadow: 2px 4px 3px 0 rgba($black, .2)
			.is_custom_radio &
				width: 12px
				height: 12px
				left: 4px
				top: 4px
				background-color: $white
				border-radius: 50%
				box-shadow: 0px 1px 3px 0 rgba($black, .2)
			.is_custom_swich &
				opacity: 1
				transform: scale(1)
				width: 12px
				height: 12px
				top: 4px
				left: 4px
				border-radius: 50%
				box-shadow: 0px 1px 3px 0 rgba($black, .2)
				background-color: $white
			.input_custom.is_custom_swich input:checked ~ &
				left: calc(100% - 16px)

.input_custom_image
	text-align: center
	vertical-align: top
	padding: 7px 15px
	margin: 2px 0 5px
	display: inline-block
	cursor: pointer
	position: relative
	max-width: 233px
	user-select: none
	& + &
		border-left: 1px solid $white-200
	input
		position: absolute
		z-index: -1
		opacity: 0
	&-illustration
		display: block
		margin: 0 auto 17px
		max-width: 120px
		max-height: 140px
		transition: filter $t-n $tf-prt
		will-change: filter
		filter: grayscale(100%)
		touch-action: none
		pointer-events: none
		input:checked ~ &
			filter: grayscale(0)
	&-text
		position: relative
		display: inline-block
		text-align: center
		line-height: $lh-sm
		font-size: $fs-m
		color: $grey-500
		margin: 0 15px
		letter-spacing: 0.02em
		&:after
			content: ''
			position: absolute
			right: -29px
			top: 4px
			transition: all $t-n $tf-prt
			transform: scale(.5)
			opacity: 0
			width: 22px
			height: 18px
			background-image: url(create-svg($check-icon, $green-400, 24))
			background-repeat: no-repeat
			background-position: 50% 50%
			background-size: 26px 22px
		input:checked ~ &
			@extend .text-gradient
			&:after
				opacity: 1
				transform: scale(1)


textarea
	padding: 18px 17px
	border-radius: 3px
	display: block
	width: 100%
	resize: none
	background-color: $grey-200
	border: solid 2px $white-200
	font-size: $fs-m
	line-height: $lh-sm
	+placeholder
		color: $grey-500
		// color: $grey-200
