%select-custom
	position: relative
	float: none
	width: 100%
	padding: 0 14px 0 22px
	line-height: 44px
	height: 48px
	outline: none
	border: solid 2px $white-200
	.current
		height: 48px
		text-align: right
	.list
		margin-top: 12px
		background-color: $white
		box-shadow: 0 0 20px 0 rgba($black, 0.2)
	.option
		background-color: inherit
		line-height: 47px
		height: 48px
		overflow: hidden
		padding: 0 18px 0 22px
		&:hover
				background-color: $grey-100
		&.selected
			font-weight: normal
	.option + .option
		border-top: 1px solid $white-300

select.select-custom
	display: none

.select_city
	@extend %select-custom
	border-radius: 24px
	max-width: 276px
	display: inline-block
	vertical-align: top
	&:hover,
	&:focus
		border-color: $white-200
	.is_main_page &
		border-color: $white
		&:hover,
		&:focus
			border-color: $white
	.is-scroll &
		background-color: transparent
		border-color: $blue-500
		border-width: 0 0 0 1px
		border-radius: 0
		&:hover,
		&:focus
			border-color: $blue-500
		.current .select_city-name
			color: $green-300
	&:after
		display: none
	&-name
		@extend .text-gradient
		letter-spacing: 1.2px
		font-size: $fs-xs
		font-weight: 700
		float: left
		text-transform: uppercase
	&-phone
		float: right
		font-size: $fs-m+1
		color: $grey-500
		b
			color: $black-300
			font-weight: normal
		.is-scroll .current &,
		.is-scroll .current & b
			color: $white
	.list
		border-radius: 24px
		left: -2px
		right: -2px


.select_clean-type
	@extend %select-custom
	border: none
	border-radius: 4px
	line-height: 48px
	padding: 0 22px
	background-color: $grey-400
	&:before
		transition: opacity $t-n $tf-def
		content: ''
		opacity: 0
		right: 0
		left: 0
		bottom: 0
		top: 0
		position: absolute
		z-index: 1
		background-image: $def-grad
		border-radius: 3px
		z-index: 1
	&:hover,
	&:focus
		&:before
			opacity: 1
	&:after
		+arr(9, 7, $grey-500, b)
		transform-origin: 50% 50%
		transform: rotate(0)
		content: ''
		z-index: 4
		right: 19px
	&.open:after
		transform: rotate(-180deg);
	.current
		position: absolute
		background-color: $grey-200
		right: 2px
		left: 2px
		bottom: 2px
		top: 2px
		padding: 0 16px
		height: 44px
		line-height: 44px
		font-size: $fs-m
		border-radius: 3px
		text-align: left
		z-index: 3
	.list
		left: 0
		right: 0
		border-radius: 5px
		// opacity: 1
		// transform: none
	.option
		padding: 0 20px
		position: relative
		line-height: 45px
		height: 48px
		letter-spacing: 0.08em
		color: $black-300
		&.selected
			font-weight: 700
			&:before
				content: ''
				position: absolute
				right: 17px
				top: 6px
				touch-action: none
				pointer-events: none
				width: 13px
				height: 32px
				transition: all $t-n $tf-prt
				transform: scale(.5) rotate(45deg)
				border: solid $green-400
				border-width: 0 2px 2px 0
