{% extends "nunjucks-templates/layouts/_layout.html" %}

{% block content %}

	<style type="text/css">
		body {
			padding-top: 220px;
		}
		.styleguide-row {
			margin-bottom: 40px;
		}
		.styleguide-head {
			font-size: 40px;
			color: #6bbd96;
			margin-bottom: 20px;
		}
	</style>
	<div class="container">
		<div class="styleguide-head">Forms</div>
		<div class="styleguide-row">
			<div class="row">
				<div class="col-xs-2">
					<h2 class="text-gradient">Select clean-type</h2>
					<br>
					<br>

					<select class="select-custom select_clean-type">
						<option value="1">После ремонта / стройки</option>
						<option value="2">Генеральная</option>
						<option value="3">Поддерживающая</option>
					</select>

				</div>


			</div>
		</div>
		<div class="styleguide-row">
			<h2 class="text-gradient">Date picker</h2>
			<br>
			<br>

			<div class="row">

				<div class="col-xs-2">
					<div class="form-group">
						<div class="placeholder-box">
							<label for="datepicker-clean">Дата уборки</label>
							<span class="empty-field">Обязательное поле</span>
						</div>
						
						<div class="input-box">
							<input id="datepicker-clean" class="datepicker input-base" placeholder="Дата уборки" readonly="">
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

	<div class="container">
		<div class="styleguide-head">Text</div>
		<div class="styleguide-row">
			<h1>h1 Some text</h1>
			<br>
			<h2>h2 Some text</h2>
			<br>
			<h3>h3 Some text</h3>
			<br>
			<h4>h4 Some text</h4>
			<br>
			<h5>h5 Some text</h5>
			<br>
			<h6>h6 Some text</h6>
			<br>
			<p>Paragraph Some text</p>
		</div>
		<div class="styleguide-head">Text Gradient</div>
		<div class="styleguide-row">
			<h1 class="text-gradient">h1 Some text</h1>
			<br>
			<h2 class="text-gradient">h2 Some text</h2>
			<br>
			<h3 class="text-gradient">h3 Some text</h3>
			<br>
			<h4 class="text-gradient">h4 Some text</h4>
			<br>
			<h5 class="text-gradient">h5 Some text</h5>
			<br>
			<h6 class="text-gradient">h6 Some text</h6>
			<br>
			<p class="text-gradient">Paragraph Some text</p>
		</div>
		<div class="styleguide-head">Buttons</div>
		<div class="styleguide-row">
			<button>Заказать  уборку</button>
			<br>
			<br>
			<div style="background-color: #33a3cc; padding: 10px;">
				<button class="button is-see-trough">Заказать уборку</button>
			</div>
			<br>
			<br>
			<div style="background-color: #33a3cc; padding: 10px;">
				<button class="button is-see-trough is-wide-button">Заказать уборку</button>
			</div>
			<br>
			<br>
			<button class="button is-bg-move"><span>Узнать стоимость</span></button>
			<br>
			<br>
			<button class="button is-bg-move is-wide-button"><span>Узнать стоимость</span></button>
		</div>
	</div>
{% endblock %}
