{% extends "nunjucks-templates/layouts/_layout.html" %}

{% block content %}

	<style type="text/css">
		body {
			padding-top: 220px;
		}
		.styleguide-row {
			margin-bottom: 40px;
		}
		.styleguide-head {
			font-size: 40px;
			color: #6bbd96;
			margin-bottom: 20px;
		}
	</style>
	<div class="container">
		<div class="styleguide-head">Forms</div>
		<div class="styleguide-row">
			<div class="row">
				<div class="col-xs-2">
					<h2 class="text-gradient">Select clean-type</h2>
					<br>
					<br>
					<div class="form-group not-style preselected">
						<div class="placeholder-box">
							<label for="datepicker-clean">Дата уборки</label>
						</div>
						<div class="input-box">
						<select class="select-custom select_clean-type" tabindex="0">
							<option value="1" selected>После ремонта / стройки</option>
							<option value="2">Генеральная</option>
							<option value="3">Поддерживающая</option>
						</select>
						</div>
					</div>

				</div>


			</div>
		</div>

		<div class="styleguide-row">
			<h2 class="text-gradient">Date picker</h2>
			<br>
			<br>

			<div class="row">

				<div class="col-xs-2">
					<div class="form-group">
						<div class="placeholder-box">
							<label for="datepicker-clean">Дата уборки</label>
							<span class="empty-field">Обязательное поле</span>
						</div>
						
						<div class="input-box">
							<div class="input_popup">
								<div class="input_popup-top">
									<div class="datepicker"></div>
								</div>
								<div class="input_popup-bot">
									<button class="input_popup-cancel">отмена</button>
									<button class="input_popup-confirm">принять</button>
								</div>
							</div>
							<input name="datepicker-output" class="has_input_popup" placeholder="Дата уборки" readonly tabindex="0">
							{{mixins.icon('today', 'input-box-icon is_right_icon')}}
						</div>
					</div>
				</div>

			</div>
		</div>
		

		<div class="styleguide-row">
			<h2 class="text-gradient">Time picker</h2>
			<br>
			<br>

			<div class="row">

				<div class="col-xs-1">
					<div class="form-group">
						<div class="placeholder-box">
							<label for="datepicker-clean">Время</label>
							<span class="empty-field">Обязательное поле</span>
						</div>
						<div class="input-box">
							<input id="timepicker-clean" class="timepicker" placeholder="Время" readonly tabindex="0">
							{{mixins.icon('time', 'input-box-icon is_right_icon')}}
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="styleguide-row">
			<h2 class="text-gradient">Count</h2>
			<br>
			<br>

			<div class="row">

				<div class="col-xs-1">
					<div class="form-group">
						<div class="placeholder-box">
							<label for="count">Кол-во комнат</label>
						</div>
						<div class="input-box wrapp-count">
							<span class="count-down"></span>
							<input id="count" data-min-count="1"  data-max-count="200" class="count-input input-base" value="1" maxlength="3" readonly tabindex="0">
							<span class="count-up active">
							</span>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="styleguide-row">
			<h2 class="text-gradient">Text Field</h2>
			<br>
			<br>
			<div class="row">
				<div class="col-xs-2">
					<div class="form-group">
						<div class="placeholder-box">
							<label for="datepicker-clean">Имя</label>
							<span class="empty-field">Обязательное поле</span>
						</div>
						<div class="input-box">
							<input class="input-base" placeholder="Имя" tabindex="0">

						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="styleguide-row">
			<h2 class="text-gradient">Checkboxes</h2>
			<br>
			<br>
			<div class="row">
				<div class="col-xs-2">
					<label class="input_custom is_custom_checkbox">First checkbox
						<input type="checkbox" checked="checked" tabindex="0"/>
						<div class="input_custom-indicator"></div>
					</label>
					<br>
					<br>
					<label class="input_custom is_custom_checkbox">Second checkbox
						<input type="checkbox" tabindex="0"/>
						<div class="input_custom-indicator"></div>
					</label>
					<br>
					<br>
					<label class="input_custom is_custom_checkbox">Disabled
						<input type="checkbox" disabled="disabled" tabindex="0"/>
						<div class="input_custom-indicator"></div>
					</label>
					<br>
					<br>
					<label class="input_custom is_custom_checkbox">Disabled & checked
						<input type="checkbox" disabled="disabled" checked="checked" tabindex="0"/>
						<div class="input_custom-indicator"></div>
					</label>
					<br>
					<br>
				</div>
			</div>
		</div>
		<div class="styleguide-row">
			<h2 class="text-gradient">Radio Buttons</h2>
			<br>
			<br>
			<div class="row">
				<div class="col-xs-2">
					<label class="input_custom is_custom_radio">First radio
						<input type="radio" name="radio" checked="checked" tabindex="0"/>
						<div class="input_custom-indicator"></div>
					</label>
					<br>
					<br>
					<label class="input_custom is_custom_radio">Second radio
						<input type="radio" name="radio" tabindex="0"/>
						<div class="input_custom-indicator"></div>
					</label>
					<br>
					<br>
					<label class="input_custom is_custom_radio">Disabled
						<input type="radio" name="radio2" disabled="disabled" tabindex="0"/>
						<div class="input_custom-indicator"></div>
					</label>
					<br>
					<br>
					<label class="input_custom is_custom_radio">Disabled & checked
						<input type="radio" name="radio2" disabled="disabled" checked="checked" tabindex="0"/>
						<div class="input_custom-indicator"></div>
					</label>
					<br>
					<br>
				</div>
			</div>
		</div>
		<div class="styleguide-row">
			<h2 class="text-gradient">Swich Radio Buttons</h2>
			<br>
			<br>
			<div class="row">
				<div class="col-xs-12">
					<label class="input_custom is_custom_swich">
						<input type="radio" name="radio2" checked="checked" tabindex="0"/>
						<div class="input_custom-indicator"></div>
					</label>
					
					<label class="input_custom is_custom_swich">
						<input type="radio" name="radio2" tabindex="0"/>
						<div class="input_custom-indicator"></div>
					</label>

					<label class="input_custom is_custom_swich">
						<input type="radio" name="radio2" tabindex="0"/>
						<div class="input_custom-indicator"></div>
					</label>
				</div>
			</div>
			<br>
			<br>
			<h2 class="text-gradient">Swich Checkboxes Buttons</h2>
			<br>
			<br>
			<div class="row">
				<div class="col-xs-12">
					<label class="input_custom is_custom_swich">
						<input type="checkbox" checked="checked" tabindex="0"/>
						<div class="input_custom-indicator"></div>
					</label>

					<label class="input_custom is_custom_swich">
						<input type="checkbox" tabindex="0"/>
						<div class="input_custom-indicator"></div>
					</label>

					<label class="input_custom is_custom_swich">
						<input type="checkbox" tabindex="0"/>
						<div class="input_custom-indicator"></div>
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="styleguide-head">Text</div>
		<div class="styleguide-row">
			<h1>h1 Some text</h1>
			<br>
			<h2>h2 Some text</h2>
			<br>
			<h3>h3 Some text</h3>
			<br>
			<h4>h4 Some text</h4>
			<br>
			<h5>h5 Some text</h5>
			<br>
			<h6>h6 Some text</h6>
			<br>
			<p>Paragraph Some text</p>
		</div>
		<div class="styleguide-head">Text Gradient</div>
		<div class="styleguide-row">
			<h1 class="text-gradient">h1 Some text</h1>
			<br>
			<h2 class="text-gradient">h2 Some text</h2>
			<br>
			<h3 class="text-gradient">h3 Some text</h3>
			<br>
			<h4 class="text-gradient">h4 Some text</h4>
			<br>
			<h5 class="text-gradient">h5 Some text</h5>
			<br>
			<h6 class="text-gradient">h6 Some text</h6>
			<br>
			<p class="text-gradient">Paragraph Some text</p>
		</div>
		<div class="styleguide-head">Buttons</div>
		<div class="styleguide-row">
			<button>Заказать  уборку</button>
			<br>
			<br>
			<div style="background-color: #33a3cc; padding: 10px;">
				<button class="button is-see-trough">Заказать уборку</button>
			</div>
			<br>
			<br>
			<div style="background-color: #33a3cc; padding: 10px;">
				<button class="button is-see-trough is-wide-button">Заказать уборку</button>
			</div>
			<br>
			<br>
			<button class="button is-bg-move"><span>Узнать стоимость</span></button>
			<br>
			<br>
			<button class="button is-bg-move is-wide-button"><span>Узнать стоимость</span></button>
		</div>
	</div>
{% endblock %}
