{% extends "nunjucks-templates/layouts/_layout.html" %}

{% block content %}

	<style type="text/css">
		body {
			padding-top: 400px;
		}
		.styleguide-row {
			margin-bottom: 40px;
		}
		.styleguide-head {
			font-size: 40px;
			color: #6bbd96;
			margin-bottom: 20px;
		}
	</style>
	<div class="container">
		<div class="styleguide-head">Pickers</div>

		<div class="styleguide-row">
			<h2 class="text-gradient">Date picker with modal</h2>
			<br>
			<br>

			<div class="row">

				<div class="col-xs-2">
					{{mixins.datepicker()}}
				</div>

			</div>
		</div>

		<div class="styleguide-row">
			<h2 class="text-gradient">Time picker</h2>
			<br>
			<br>

			<div class="row">
				<div class="col-xs-1">
					{{mixins.timepicker()}}
				</div>

			</div>
		</div>
	</div>
{% endblock %}
